/*
Custom Styles
*/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../media/misc/loading.gif') center no-repeat #fff;
}

.switch-custom{
  float:right;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.aside-minimize:not(.aside-minimize-hover) .brand .brand-logo h3 {
  display: none;
}

.login-signin .fas {
  position: absolute;
  right: 1.1rem;
  top: 1.1rem;
  cursor: pointer;
}

td.details-control {
  /* background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center; */
  cursor: pointer;
  background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
  }

  tr.details td.details-control {
      background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
  }